* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kantumruy Pro', sans-serif;
}

#nav-container {
  display: flex;
}

.nav-list {
  display: flex;
}

#order-btn {
  z-index: 5;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  margin-left: 2.5%;
  margin-top: 5%;
  margin-bottom: 10%;
  border: none;
} 

.popup {
z-index: 999;
max-width: 95%;
background-color: #fff;
width: 450px;
padding: 30px 40px;
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
border-radius: 8px;
display: none;
}

.popup-title {
font-weight: 700;
margin-bottom: 10px;
}

#overlay {
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 998;
background: rgba(0, 0, 0, 0.5);
display: none;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 70vh;
  max-width: 100vw;
  background-image: url('surfskate1.jpg'); 
  background-color: rgba(201, 106, 12, 0.3); 
  background-blend-mode: multiply; 
  background-size: cover;
  background-position: center;
}

button a { 
font-family: 'Kantumruy Pro', sans-serif;
text-decoration: none;
color: BLACK;
}

.logo {
width: 50%;
padding-left: 1.25em;
}

.logo-container {
  width: 100%;
}



.fa-solid{
  font-size: 2em;
  color: yellow;
  padding-right: 1.25em;
}

.title-container {
margin-top: 20%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 8em;
color: white;
font-size: 1.3em;
}

.shop-btn, .flower-btn {
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 190px;
}


.rtp-title {
  font-family: 'Philosopher', sans-serif;
  letter-spacing: .3em;
}

.ctw-title {
  font-family: 'Dancing Script', cursive;
  letter-spacing: .25em;
}

.about-us-title {
  text-align: center;
  color: rgb(60, 60, 228);
  margin-bottom: 1.2em;
  font-size: 1.3em;
  letter-spacing: 2px;
}

.about-us-title::before,
.about-us-title::after {
text-align: center;
display: inline-block;
content: "";
border-top: .2rem solid rgb(0, 0, 228);
border-radius: 5px;
width: 4rem;
margin: 0 .5rem;
transform: translateY(-.3rem);
}

.flower-container {
  margin-top: 3em;
  margin-bottom: 3em;
  height: auto;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.img-container {
  overflow: hidden;
  height: auto;
  max-width: 60%;
  margin: 0 auto;
}

.photo {
  width: 100%;
  margin-bottom: 2em;
}

.vape-photo {
width: 75%;
margin: 0 auto;
text-align: center;
}

.flower-btn {
  margin: 0 auto;
  text-align: center;
}

.vape-container {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}

.img-diamonds {
  width: 100%;
  height: auto;
  text-align: center;
}

.diamonds {
width: 80%;
text-align: center;
}

.extract-container {
margin-top: 50px;
margin-bottom: 3em;
display: flex;
flex-direction: column;
align-items: center;
}

#contact-us {
background-image: url('surfskate2.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(200,100,0,.3); 
background-blend-mode: multiply;
width: 100%;
height: 60vh;
}

.contactinfo {
  max-width: 50%;
  padding: 5px 8px;
}

.contact {
  color: #ffdf00;
  color: #fff;
  margin-left: 2.5%;

}

#contact-us {
  padding-top: 15%;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#message {
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 100px;
}

.name-email-container {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  margin: 5% auto;
  border: none;
  position: relative;
}

#submit-btn {
  background-color: #fff;
  color: #01559A;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  display: block;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0 auto;
  border: 2px solid #ffdf00;
  margin-left: 2.5%;
  margin-top: 5%;
}
  
form {
  outline: none;
  display: block;
  margin: 5% auto 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 100%;
  font-size: 0.8rem;
  background-color: black;
  color: #ffdf00;
  text-align: center;
}

#icon {
  width: 25%;
}
.privacy-policy {
  margin-bottom: 5%;
}

.privacy-policy  a {
  color: #ffdf00;
  text-decoration: none;
}

.bgcolor {
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  transition: .4s ease;
}

.nav-item {
font-size: small;
line-height: 2.5rem;
list-style-type: none;
width: 100%;
}
.nav-item a {
text-decoration: none;
color: white;
}

.fa-xmark {
display: none;
}
.top-body {
background-image: url('surfskate2.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.main-nav-container {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
}

#nav-checkbox {
display: none;
}

.nav-list {
  z-index: 100;
  top: 8vh;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color:rgb(0, 0, 0, .7);
  display: none;
}

#nav-checkbox:checked ~ .nav-list {
  display: flex;
  flex-direction: column;
  -webkit-animation: fadeIn .4s;
  animation: fadeIn .4s;
  }

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.strain-name {
font-size: 30px;
text-align: center;
font-family: 'Lobster Two', cursive;
letter-spacing: 2px;
}
.mp-photo {
width: 100%;
}

.desc {
margin: 0 auto;
width: 90%;
text-align: justify;
font-size: 12px;
word-spacing: 2px;
line-height: 20px;
margin-bottom: 10%;
}

.title {
font-family: 'Philosopher', sans-serif;
margin: 5% auto;
font-size: 25px;
text-align: center;

}

.nav-container2 {
height: 8vh;

}

.fa-bed, .fa-cloud-moon {
padding: 0;
font-size: 20px;
color: rgb(64, 64, 202);
}

.fa-sun {
padding: 0;
font-size: 20px;
}
.container {
display: flex;
justify-content: center;
}

.vape-img-container {
width: 100%;
}
#vape-photo-generic {
width: 100%;
}

#close-btn {
display: block;
margin: 0 0 0px auto;
background-color: transparent;
color:rgb(199, 184, 184);
border: none;
font-size: 30px;
outline: none;
cursor: pointer;
}

.popup p {
font-size: 14px;
text-align: justify;
margin: 20px 0;
}

#popup-btn {
display: block;
width: 150px;
position: relative;
margin: auto;
text-align: center;
background-color: #0f72e5;
color: #fff;
text-decoration: none;
padding: 5px 0;
border-radius: 5px;
}

#orderbody {
min-height: 100vh;
max-width: 100vw;
background: #2645BF;
background: -webkit-linear-gradient(top, #2645BF, #2D98C0);
background: -moz-linear-gradient(top, #2645BF, #2D98C0);
background: linear-gradient(to bottom, #2645BF, #2D98C0);
}

#form {
color: #fff;
font-family: 'Montserrat', sans-serif;
padding-top: 15%;
margin: 0 auto;
max-width: 100%;
width: 100%;
border:rgba(129, 255, 255, 0.692);
border-radius: 5px;
display: flex;
flex-direction: column;
}


.label-input-container {
width: 100%;
}

.label {
text-align: center;
width: 90%;
margin-left: 5%;
}

.blowout-input {
padding-left: 10px;
color: black;
display: block;
margin: 0 auto;
width: 90%;
height: 30px;
border-radius: 5px;
background-color: #fff;
outline: none;
border: 1px solid rgba(254,254,254,.3)
}

.blowout-input:hover, .blowout-input:focus {
border-color: #fff;
}

#instructions {
padding-top: 10px;
padding-bottom: 150px;
}

.flower-form {
  font-family: 'Montserrat', sans-serif;
color: #fff;
margin: 10% auto 0 auto;
max-width: 100%;
background-color: transparent;
border:rgba(213, 217, 217, .5);
border-radius: 5px;

}
.strain1-container {
text-align: center;
}

.strain1-container h3 {
margin-top: 5%;
margin-bottom: 3%;
}
.qty-input {
width: 10%;
text-align: center;
}

#orderbody h1{
margin-top: 6%;
text-align: center;
color: #fff;
margin-bottom: 20px;
}

.strain {
font-size: 20px;
font-weight: 400;
}
.disclaimer {
border-top: .7px solid white;
line-height: 16px;
font-size: 10px;
font-weight: 300;
display: flex;
text-align: left;
justify-content: center;
align-items: center;
}

.order-fulfilment {
display: flex;
flex-direction: column;
margin-bottom: 5%;
}

#form-total, .dollar-sign {
  display: inline;
  font-size: 30px;
}

.about-us {
  background-color: rgb(0, 107, 194);
  color: white;
  line-height: 24px;
  text-align: justify;
  
}

.last {
  padding-bottom: 30px;
}

.about-us-info {
  width: 95%;
  margin: 0 auto;
  letter-spacing: 1.5px;
}

#about-us {
  padding-top: 8%;
  color: white;
}

#about-us::before,
#about-us::after {
text-align: center;
display: inline-block;
content: "";
border-top: .2rem solid white;
border-radius: 5px;
width: 4rem;
margin: 0 .5rem;
transform: translateY(-.3rem);
}

.flower-img-container {
  max-width: 100%;
  margin-bottom: 15%;
}

.flower-info {
  width: 90%;
  height: auto;
  margin: 0 auto;
  line-height: 24px;
}

#vc-flower {
  display: block;
  width: 100%;
}

.checkout {
  display: inline-flex;
  flex-direction: column;
  margin-top: 2%;
}


.submit{
  cursor: pointer;
  padding: 5px 0;
  position: relative;
  font-size: 16px;
  width:180px;
  border-radius:4px;
  background: transparent;
  color: white;
  border: 2px solid;
  transition: width 0.5s;
  margin-bottom: 5%;
}
 
.process{
  width:250px;
  color: white;
}

.process::before {
    content: ' ';
    position: absolute;
    color: white;
    background-color: #3b43b7;
background-image: linear-gradient(315deg, #3f4cf8 0%, #0b1bab 74%);
    height: 100%;
    top: 0;
    left: 0;
    width: 0%;
    animation: processing 4s;
    border-radius: 4px;
    z-index: 2;
}

.tick{
  position: absolute;
  left:25px;
  top: 5px;
  bottom: 10px;
  opacity: 1;
  transition: left 2s;
}

.submitted{
  padding-left: 30px;
  animation: tick 0.6s;
  color: rgb(0, 0, 0) !important;
  background-image: linear-gradient(315deg, #e4e6ff 0%, #ffffff 74%);
}

.checkmark-icon {
  padding-bottom: 15%;
}

@keyframes processing {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

@keyframes tick{
  0%{
    transform: scale(0.1);
  }
  
  75%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(1);
  }
}

.rtp-title{
  animation: Slide_Up 2s ease;
}

.ctw-title {
  animation: Slide_Up 2.3s ease;
}

@keyframes Slide_Up {
  0% {
      transform: translateY(250px);
      opacity: 0;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
} 

.alert {
  display: none;
}
.order-form-title {
  text-align: center;
  padding-bottom: 20px;
}

.disclaimer-1 {
  text-align: left;
  width: 50%;
}

.disclaimer-2 {
  width: 50%;
  text-align: left;
}

.disclaimer-3 {
  font-size: 10px;
  font-weight: 300;
  margin-left: 5%;
}


#vape-carts {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
#vape-strains > h4 {
  color: rgb(0, 0, 228);
  font-family: 'Lobster Two', cursive;
  letter-spacing: 2px;
  padding: 3% 0 0 0;
}
#vape-strains h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 2%;
}

.topz {
  font-size: 14px;
  padding-top: 10%;
}
#products h4{
  font-family: 'Lobster', cursive;
  line-height: 2.5rem;
}


#vapes-title {
  text-align: center;
  color: rgb(0, 17, 255);
  margin-bottom: 1.2em;
  font-size: 16px;
  letter-spacing: 2px;
}

#live-resin-title {
    text-align: center;
    color: rgb(0, 17, 255);
    margin-bottom: 1.2em;
    font-size: 16px;
    letter-spacing: 2px;

  }

#vapes-title::before,
#vapes-title::after,
#live-resin-title::before,
#live-resin-title::after,
#extracts::before,
#extracts::after {
text-align: center;
display: inline-block;
content: "";
border-top: .2rem solid rgb(0, 17, 255);
border-radius: 5px;
width: 4rem;
margin: 0 .5rem;
transform: translateY(-.3rem);
}


#resin-carts {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

#resin-strains > h4 {
  color: rgb(0, 0, 228);
  font-family: 'Lobster Two', cursive;
  letter-spacing: 2px;
  padding: 3% 0 0 0;
}
#resin-strains h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 2%;
}

.caption {
  text-align: left;
  width: 90%;
  margin: 20px auto 0 auto;
  line-height: 24px;
}

.img-vape {
  max-width: 100%;
}

#vape-img {
  width: 100%;
}

.extract-container {
  max-width: 100%;
}

.extract-img {
  width: 100%;
}

.extract-info {
  width: 90%;
  margin: 5% auto;
  text-align: justify;
  font-size: 16px;
  word-spacing: 2px;
  line-height: 24px;
}

.diamonds-img {
  width: 100%;
}

#extracts {
  margin: 0 auto;
  text-align: center;
  color: rgb(0, 0, 228);
}
.extract-desc {
  color: rgb(0, 0, 228);
  letter-spacing: 2px;
  padding: 3% 0 0 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.resin-img {
  width: 100%;
} 



@media only screen and (min-width: 768px) {
  .main {
    height: 100vh;
    background-color: white;
  }
  #nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0, 1);
  }
  .nav-list {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
  }
  .nav-item {
    font-size: 1.5em;;
  }
  .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .main-nav-container {
    display: flex;
    position: relative;
  }
  .fa-solid {
    display: none;
  }
  #nav-checkbox {
    border: 1px solid red;
  }
}